/*colors*/
:root {
	--color-orange: #ff6900;
	--color-red: #ff0000;
	--color-green: #008000;
	--color-black: #1a1a1a;
	--color-light-grey: #c9cdcf;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: solid red;
}
.d-flex{
    display: flex;
}
.header{
    justify-content: space-around;
}
ul{
    list-style-type: none;
}
.bg-color{
background-color: var(--color-orange);
}
.img{
   width: 90px; 
}
.text-white{
color: white;
}