/*colors*/
:root {
	--color-orange: #ff6900;
	--color-red: #ff0000;
	--color-green: #008000;
	--color-black: #1a1a1a;
	--color-light-grey: #c9cdcf;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: solid red;
}
.d-flex{
    display: flex;
}
.header{
    justify-content: space-around;
}
ul{
    list-style-type: none;
}
.padding-li{
padding-left: 8px;
}
.bg-color{
background-color: var(--color-orange);
padding-top: 10px;
padding-bottom: 10px;
}
.text-white{
color: white;
}

.logo{
    width: 95px;
    height: 22px;
}
.img{
min-width: 300px;
max-width: 80px;
}
.align-center{
    justify-content: space-around;
}
.padding-footer{
padding-bottom: 30px;
padding-top: 20px;
}
.margin-top{
    margin-top: 40px;
}
.margin-left{
    margin-left: 13px;
}
.row{
display: grid;
}
.column{
flex-direction: column;
}
/*modifiche colori*/
.text-transofrm{
    text-transform: uppercase;
}
.text-red{
color: red;
font-weight: bold;
}
.text-decoration{
color: black;
text-decoration: line-through;
font-weight: 500;
}
.padding-text{
    padding-left: 5px;
}
/*font per le descrizioni*/
h4{
    font-size: 12px;
}
.bgcolor-footer{
background-color: var(--color-black);
}
.border-loghi{
border:2px solid white;
background-color: white;
width: 25px;
height: 30px;
}
.hearth{
    position:relative;
    bottom: 500px;
    left: 270px;
    width: 30px;
    height: 25px;
    background-color: white;
    font-weight: bold;
    text-align: center;
}
.hearth2{
    position:relative;
    bottom: 485px;
    left: 270px;
    width: 30px;
    height: 25px;
    background-color: white;
    font-weight: bold;
    text-align: center;
}
.hearth3{
        position:relative;
        bottom: 467px;
        left: 270px;
        width: 30px;
        height: 25px;
        background-color: white;
        font-weight: bold;
        text-align: center;
    }
.position{
    position:relative;
    bottom: 98px;
    right: 0;
    width: 50px;
    height: 18px;
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
}
.position2{
    position:relative;
    bottom: 116px;
    left: 54px;
    width: 99px;
    height: 18px;
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
}
.position3{
    position:relative;
    bottom: 98px;
    right: 0;
    width: 99px;
    height: 18px;
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;}